.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.projectAction {
  border: 2px solid black;
  margin: 1%;
}

.subAction {
  display: flex;
  margin: 1%;
}

.subAction-header {
  font-weight: 600;
  margin-right: 5px;
}

.subAction-button {
  margin-left: 5px;
  height: 50%;
}

.ActionStatus {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.ActionStatus__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1%;
}